.jumbotron {
  height: 800px;
  background-image: url(https://res.cloudinary.com/amhprojects/image/upload/v1518711476/14ers/cover/home-img-compressed.jpg);
  background-position: 0 160%;
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
}

.jumbotron h1 {
  position: relative;
  text-align: left;
  top: 420px;
  color: white;
  font-size: 75px;
}

.home-content {
  clear: both;
}

.home-content h1 {
  margin-bottom: 35px;
}

.home-info {
  margin-bottom: 20px;
}

.home-icon {
  height: 75px;
  margin: 15px 0;
}
