.home {
  width: 100%;
}

.jumbotron {
  height: 800px;
  background-image: url(https://res.cloudinary.com/amhprojects/image/upload/v1518711476/14ers/cover/home-img-compressed.jpg);
  background-position: 0 160%;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  position: relative;
  text-align: left;
  top: 420px;
  color: white;
  font-size: 75px;
}

.home-content {
  height: 500px;
  padding: 0 300px;
}

.home-content h1 {
  margin-bottom: 25px;
}

.home-icon {
  height: 75px;
  margin: 15px 0;
}
