.navbar {
  margin: 0;
  background: none;
  z-index: 5;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-brand {
  color: black;
  font-size: 30px;
}

.navbar-scrolled {
  background-color: white;
  color: black;
}
