.list-row {
  padding: 0;
}

.list-sort {
  float: right;
  padding-right: 15px;
  margin-bottom: 15px;
}

.mountain-photo {
  width: 100%;
}

.caption-header {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}

.caption-details {
  margin: 0;
}

.mountain-box {
  position: relative;
  margin-bottom: 20px;
}

.hover-options {
  position: absolute;
  right: 20px;
  top: 5px;
}

.remove-peak, .edit-peak {
  display: inline-block;
  margin: 0;
  padding: 1px;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: transparent;
}

.remove-peak:hover, .edit-peak:hover {
  background-color: white;
  color: black;
}

.remove-peak {
  margin-left: 5px;
  padding-bottom: 4px;
}

.edit-peak {
  background-color: transparent;
  color: black;
}
