.list-row {
  padding: 0;
}

.list-sort {
  float: right;
  padding-right: 15px;
  margin-bottom: 15px;
}

.mountain-box {
  margin-bottom: 20px;
}

.inner-box {
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  overflow: auto;
}

.mountain-photo {
  width: 100%;
  border-bottom: 1px solid #1E4899;
}

.caption-header, .caption-details {
  border-bottom: 1px solid #1E4899;
}

.caption-header, .caption-details, .caption-notes {
  margin: 0;
  padding: 15px 10px;
}

.caption-header h2 {
  font-size: 24px;
  color: #1E4899;
}

.caption-header h2, .caption-details p, .caption-notes p {
  margin: 0;
}

.caption-details {
  background-color: #e8ecf4;
}

.caption-notes {
  height: 84px;
  overflow: scroll;
}

.detail-box {
  padding: 0 5px;
}

.right-border {
  border-right: 1px solid #696969;
}

.left-border {
  border-left: 1px solid #696969;
}

.caption-description {
  text-transform: uppercase;
  font-size: .8em;
  color: #1E4899;
}

.hover-options {
  position: absolute;
  right: 20px;
  top: 5px;
}

.remove-peak, .edit-peak {
  display: inline-block;
  margin: 0;
  padding: 1px;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: transparent;
}

.remove-peak:hover, .edit-peak:hover {
  background-color: white;
  color: black;
}

.remove-peak {
  margin-left: 5px;
}

.edit-peak {
  background-color: transparent;
  color: black;
}
