.dashboard {
  margin-top: 20px;
}

.circle-chart, .number-climbed-summary {
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  height: 315px;
}

.card-title {
  text-align: left;
  text-transform: uppercase;
}

.center-helper {
  position: relative;
  float: left;
  left: 50%;
}

.progress-circle {
  margin: 0;
  left: -50%;
}

.c100 {
  background-color: #a5b5d6;
}

.number-climbed {
  position: relative;
  top: 80px;
}

.card-content {
  font-size: 3em;
  margin: 0;
  color: #1E4899;
}

.planning-section {
  margin-top: 20px;
  margin-bottom: 40px;
}

.fourteeners-link {
  padding-left: 5px;
}
