* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: black;
}

main {
  padding-bottom: 60px;
  overflow: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #696969;
  background-color: white;
  opacity: .95;
}

.page-header {
  border: none;
  margin: 15px 0;
}

form button[type="submit"], .facebook-btn {
  width: 100%;
  height: 40px;
}

.form-input {
  padding-right: 0;
}

.form-error {
  font-size: .7em;
}

.form-input .error-field {
  border-color: red;
}

button:disabled:hover, button[disabled]:hover {
  cursor: not-allowed;
}
