.login-container {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/amhprojects/image/upload/v1518711709/14ers/cover/login-signup-compressed-dark.jpg);
  background-position: 0 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  margin-top: 120px;
  background-color: white;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,30,.5);
}

.divider {
  color: grey;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
  padding: 5px 10px;
  margin: 0;
}

.fa-facebook {
  padding-right: 10px;
}
